{#{% extends "ADMIN/admin home.html" %}#}
{#{% block body %}#}
{% extends "Props/Prop home.html" %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="post"  name="form1" id="form1">
<table width="615" height="532" border="1">
  <tr>
    <th scope="row">TOURNAMENT NAME</th>
    <td><label for="select"></label>
      <select name="select" id="select"required>
          {% for i in data %}
          <option value="{{ i['tournament_id'] }}">{{ i['tournament_name'] }}</option>
          {% endfor %}
      </select></td>
  </tr>
  <tr>
    <th scope="row">ROUND 1 WINNERS</th>
    <td><label for="select"></label>
      <select name="select2" id="select" required>
          {% for i in data1 %}
          <option value="{{ i['team_name'] }}">{{ i['team_name'] }}</option>
          {% endfor %}
      </select></td>
  </tr>
  <tr>
    <th scope="row">ROUND 2 WINNERS</th>
    <td><label for="select"></label>
      <select name="select3" id="select" required>
          {% for i in data1 %}
          <option value="{{ i['team_name'] }}">{{ i['team_name'] }}</option>
          {% endfor %}
      </select></td>
  </tr>
  <tr>
    <th scope="row">CHAMPIONS</th>
    <td><label for="select"></label>
      <select name="select4" id="select"required>
          {% for i in data1 %}
          <option value="{{ i['team_name'] }}">{{ i['team_name'] }}</option>
          {% endfor %}
      </select></td>
  </tr>

  <tr>
    <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="Submit" /></th>
  </tr>
</table>
</form>
</body>
</html>

{% endblock %}